Package: net.R4zjb1n.package
Name: Test Package
Version: 1.0
Architecture: iphoneos-arm
Description: This is a test package from /u/WinneonSword's R4zjb1n!
Depiction: http://repo.winneonsword.net/packages/package.html
Homepage: http://Razjb1n.github.io
Maintainer: Jesse Bryan <winneonsword@gmail.com>
Author: Jesse Bryan <winneonsword@gmail.com>
Section: Themes
