Package: com.R4zjb1n.gta
Name: gta sa hck
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: gta sa iGMM Cheats by 0xSUBZ3R0 for chinagordo123@gmail.com!
Maintainer: iOSGods.com
Author: 0xSUBZ3R0
Section: Tweaks
Homepage: https://R4zjb1n.github.io/
Version: 2.2+iOS
Installed-Size: 8356
