Package: com.R4zjb1n.localiapstore
Name: LocalIAPStore 
Version: 1.4-4
Architecture: iphoneos-arm
Description: Pwns In-App purchases on iOS 7 and 8. Compatible with ARMv8 (64 Bit). Enable in settings. PRESS 'DISMISS' ON POPUP!
Depiction: https://R4zjb1n.github.io/pack/localiapstore
Author: RazjbIN
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader

